
@{
    ViewBag.Title = "Index";
}

@(Html.Kendo().Grid<WebModelService.BookModel.Contract.ViewModel.BookViewModel>()
        .Name("grid")
        .Columns(columns =>
        {
            columns.Bound(b => b.BookId).Width(100);
            columns.Bound(b => b.Title).Width(100);
            columns.Bound(b => b.Author).Width(100);
            columns.Bound(b => b.ISBN).Width(100);
            columns.Bound(b => b.BookGenreName).Width(100);
            columns.Bound(b => b.AddDate).Width(100).Format("{0:dd/MM/yyyy}");
            columns.Bound(b => b.ReleaseDate).Width(100).Format("{0:dd/MM/yyyy}");
            columns.Bound(b => b.Count).Width(100);
            columns.Command(command => command.Custom("Details").Click("showDetails")).Width(80);
            columns.Command(command => command.Custom("Edit").Click("showEdit")).Width(80);
        })
        .HtmlAttributes(new { style = "height: 550px;" })
        .Scrollable()
        .Groupable()
        .Sortable()
        .Pageable()
        .DataSource(dataSource => dataSource
            .Ajax()
            .Read(read => read.Action("Books_Read", "Book"))
            .PageSize(20)
        )
)
<button id="addButton2" type="button" class="btn btn-success">Add new book </button>
@(Html.Kendo().Window()
    .Name("WindowId")    
    .Visible(false)
    .Draggable()
    .Resizable()
     .Width(600)
    .Height(650)
    .Modal(true)

)
@(Html.Kendo().Window().Name("AddNewBook")
    .Visible(false)
    .Draggable(true)
    .Modal(true)
    .Width(600)
    .Height(650)
)

<script>
    function showDetails(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var bookId = dataItem.bookId;
        var url = '@Url.Action("Details", "Book")' + "/" + dataItem.BookId;
        wnd = $("#WindowId")
                        .kendoWindow({
                            title: "Book details",
                            modal: true,
                            visible: false,
                            content: url
                        }).data("kendoWindow").title("Details");
        wnd.center().open();
    }
    function showEdit(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var bookId = dataItem.bookId;
        var url = '@Url.Action("EditBook", "Book")' + "/" + dataItem.BookId;
        wnd = $("#WindowId")
                        .kendoWindow({
                            title: "Book edit",
                            modal: true,
                            visible: false,
                            content: url
                        }).data("kendoWindow").title("Edit");
        wnd.center().open();
    }

    $(document).ready(function () {
        $("#addButton2").click(function () {
            var window = $("#AddNewBook").data("kendoWindow").title("New Book");
            window.refresh({
                url: '@Url.Action("AddNewBook", "Book")',
                visible: false,
                modal: true,
            });
            window.center();
            window.open();
        });
    });
    $(document).on("click", "#submitButton", function () {
        var url = '@Url.Action("AddNewBook", "Book")';
        var form = $("#submitButton").closest("form").serialize();
        $.post(url, form, function callback(response) {
            if (response.success) {
                $("#AddNewBook").data("kendoWindow").close();
                $('#grid').data('kendoGrid').dataSource.read();
                $('#grid').data('kendoGrid').refresh();
            }
            else
                $("#AddNewBook").data("kendoWindow").content(response).ToHtmlString();
        });
    });
    $(document).on("click", "#submitBtnEdit", function () {
        var url = '@Url.Action("EditBook", "Book")';
        var form = $("#submitBtnEdit").closest("form").serialize();
        $.post(url, form, function callback(response) {
            if (response.success) {
                $("#WindowId").data("kendoWindow").close();
                $('#grid').data('kendoGrid').dataSource.read();
                $('#grid').data('kendoGrid').refresh();
            }
            else
                $("#WindowId").data("kendoWindow").content(response).ToHtmlString();
        });
    });
    $(document).on("click", ".closeBtns", function () {
            $("#AddNewBook").data("kendoWindow").close();
        });


</script>
