@model WebModelService.ViewModel.UserViewModel

@{
    ViewBag.Title = "EditUser";
}

<h2>EditUser</h2>

@using (Html.BeginForm("EditUser", "User"))
{
    @Html.LabelFor(a => a.FirstName)
    @Html.TextBoxFor(a => a.FirstName)
    @Html.ValidationMessageFor(a => a.FirstName)
    <br />
    @Html.LabelFor(a => a.LastName)
    @Html.TextBoxFor(a => a.LastName)
    @Html.ValidationMessageFor(a => a.LastName)
    <br />
    @Html.LabelFor(a => a.Email)
    @Html.TextBoxFor(a => a.Email)
    @Html.ValidationMessage("UniqueEmail")
   
    @Html.ValidationMessageFor(a => a.Email)
    <br />
    @Html.LabelFor(a => a.Phone)
    @Html.TextBoxFor(a => a.Phone)
    @Html.ValidationMessageFor(a => a.Phone)
    <br />
    @Html.LabelFor(a => a.BirthDate)
    @Html.TextBoxFor(a => @a.BirthDate, "{0:MM/dd/yyyy}")
    @Html.ValidationMessageFor(a => a.BirthDate)

    @Html.HiddenFor(model => model.UserId);
    @Html.HiddenFor(model => model.AddDate);
    @Html.HiddenFor(model => model.IsActive);
   
    <input type="submit" value="Update" />
    <a href='@Url.Action("Index", "User")'>Cancel</a>

}